<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" type="image/x-icon" href="../imgs/TrAvenger.ico" >
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <title>TrAvenger</title>
</head>
<body>
    <nav class="navigation">
        <div class="row">
            <h1 class="navigation__primary-header"> 
                <span class="navigation__primary-header--torquase">Tr</span><span class="navigation__primary-header--pink">Avenger</span>
            </h1>
            <ul class="navigation__list">
                <li class="navigation__list--item"><a href="#">Home</a></li>
                <li class="navigation__list--item"><a href="#">About</a></li>
                <li class="navigation__list--item"><a href="#">FAQ</a></li>
                <li class="navigation__list--item"><a href="#">Contact</a></li>
            </ul>
        </div>
    </nav>
</body>
</html>