<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="icon" type="image/x-icon" href="./assets/TrAvenger.ico" >
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/27a9a56b8c.js" crossorigin="anonymous"></script>
    <title>TrAvenger</title>
</head>
<body>
    <nav class="navigation">
            <h1 class="navigation__primary-header"> 
                <span class="navigation__primary-header--torquase">Tr</span><span class="navigation__primary-header--pink">Avenger</span>
            </h1>
            <ul class="navigation__list">
                <li class="navigation__list--header">Menu<i class="fas fa-times"></i></li>
                <li class="navigation__list--item"><a href="#">Home</a></li>
                <li class="navigation__list--item"><a href="#">About</a></li>
                <li class="navigation__list--item"><a href="#">FAQ</a></li>
                <li class="navigation__list--item"><a href="#">Contact</a></li>
            </ul>
            <a href="#" class="navigation__menu"><i class="fas fa-bars"></i></a>
    </nav>
    <main class="header row">
            <h2 class="header__hero-text">
                <span class="header__hero-text--main">we are your planners</span>
                <br>
                <span class="header__hero-text--sub">check the new places</span>
            </h2>
            <form class="header__form" action="#">
                <label for="destination" class="header__form--destination">
                    <span class="header__form--input-title">Destination</span>
                    <input type="text" id="destination" placeholder="e.g. New York">
                </label>
                <label for="check-in" class="header__form--check-in"> 
                    <span class="header__form--input-title">Departing</span>
                    <input id="check-in" type="date" placeholder="Date-in" min="Date()">
                </label>
                <label for="check-out" class="header__form--check-out"> 
                    <span class="header__form--input-title">Arriving</span>
                    <input id="check-out" type="date" placeholder="Date-out">
                </label>
                <a href="#" class="header__form--btn btn btn-pink">Start</a>
            </form>
            <div class="header__img-container">
                <img src="./assets/hero-img.svg" alt="illustrator travelar undraw">
            </div>
    </main>
    <section class="trips">
        <h2 class="trips__heading">my trips</h2>
        <div class="cards-slider">
            <div class="cards-slider__container">
            </div>
            <a href="#" class="cards-slider__left-btn move-btn left"><i class="fas fa-chevron-left"></i></a>
            <a href="#" class="cards-slider__right-btn move-btn right"><i class="fas fa-chevron-right"></i></a>
            <div class="cards-slider--background-terquase"></div>
            <div class="cards-slider--background-pink"></div>
            <div class="cards-slider--background-light-blue"></div>
        </div>
    </section>
    <div class="loader">
        <img class="loader__img" src="./assets/loader.svg" alt="loader">
        <a class="loader__loader-attribute" target="_blanck"href="https://loading.io/asset/396618">the icon "ellipsis" is provided by loading.io</a>
    </div>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('./assets/sw.js');
            });
        }
    </script>
</body>
</html>