<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" type="image/x-icon" href="../imgs/TrAvenger.ico" >
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/27a9a56b8c.js" crossorigin="anonymous"></script>
    <title>TrAvenger</title>
</head>
<body>
    <nav class="navigation">
            <h1 class="navigation__primary-header"> 
                <span class="navigation__primary-header--torquase">Tr</span><span class="navigation__primary-header--pink">Avenger</span>
            </h1>
            <ul class="navigation__list">
                <li class="navigation__list--item"><a href="#">Home</a></li>
                <li class="navigation__list--item"><a href="#">About</a></li>
                <li class="navigation__list--item"><a href="#">FAQ</a></li>
                <li class="navigation__list--item"><a href="#">Contact</a></li>
            </ul>
    </nav>
    <main class="header row">
            <h2 class="header__hero-text">
                <span class="header__hero-text--main">we are your asdvisors</span>
                <br>
                <span class="header__hero-text--sub">check the new places</span>
            </h2>
            <form class="header__form" action="#">
                <label for="destination" class="header__form--destination">
                    <input type="text" id="destination" placeholder="Your Destination">
                </label>
                <label for="check-in" class="header__form--check-in"> 
                    <input id="check-in" type="date" placeholder="check-in">
                </label>
                <label for="check-out" class="header__form--check-out"> 
                    <input id="check-out" type="date">
                </label>
                <a href="#" class="header__form--btn btn btn-pink">Start</a>
            </form>
            <div class="header__img-container">
                <img src="../imgs/hero-img.svg" alt="">
            </div>
    </main>
    <section class="trips">
        <h2 class="trips__heading">my trips</h2>
        <div class="cards-slider">

            <div class="card">
                <img src="../imgs/hero-image.jpg" alt="hero">
                <h3 class="card__city"> Paris, <span class="card__city--country">france</span></h3>
                <p class="card__date">10/10/2020 <i class="fas fa-plane"></i> 15/10/2020</p>
                <p class="card__degree">30 to 45</p>
                <p class="card__time">5 days away</p>
            </div>
            <div class="card">
                <img src="../imgs/hero-image.jpg" alt="hero">
                <h3 class="card__city"> Paris, <span class="card__city--country">france</span></h3>
                <p class="card__date">10/10/2020 <i class="fas fa-plane"></i> 15/10/2020</p>
                <p class="card__degree">30 to 45</p>
                <p class="card__time">5 days away</p>
            </div>
            <div class="card">
                <img src="../imgs/hero-image.jpg" alt="hero">
                <h3 class="card__city"> Paris, <span class="card__city--country">france</span></h3>
                <p class="card__date">10/10/2020 <i class="fas fa-plane"></i> 15/10/2020</p>
                <p class="card__degree">30 to 45</p>
                <p class="card__time">5 days away</p>
            </div>
                        <div class="card">
                <img src="../imgs/hero-image.jpg" alt="hero">
                <h3 class="card__city"> Paris, <span class="card__city--country">france</span></h3>
                <p class="card__date">10/10/2020 <i class="fas fa-plane"></i> 15/10/2020</p>
                <p class="card__degree">30 to 45</p>
                <p class="card__time">5 days away</p>
            </div>




            <a href="#" class="cards-slider__left-btn"><i class="fas fa-chevron-left"></i></a>
            <a href="#" class="cards-slider__right-btn"><i class="fas fa-chevron-right"></i></a>
            <div class="cards-slider--background-terquase"></div>
            <div class="cards-slider--background-pink"></div>
            <div class="cards-slider--background-light-blue"></div>
        </div>
    </section>

</body>
</html>