.cards-slider {
    height: 50vh;
    width: $slider-width;
    margin: 30px auto;
    position: relative;
    overflow: hidden;
    height: 450px;


    &__container {
        //move this on the X axies -100% to go to the next page.
        display: grid;
        grid-template-rows: 100%;
        grid-auto-flow: column dense;
        place-items: center;
        height: 100%;
        transition: all 0.2s ease;
    }

    &__left-btn {
        font-size: 3rem;
        position: absolute;
        top: 50%;
        left: 0;
        //z-index: 100;
        transform: translate(25%, -50%);
        background-color: white;
        width: 50px;
        height: 50px;
        display: grid;
        place-items: center;
        border-radius: 50%;
        text-decoration: none;
        color: $color-pink;
        box-shadow: 0px 0px 12px .5px rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }

    &__right-btn {
        font-size: 3rem;
        position: absolute;
        top: 50%;
        right: 0;
        //z-index: 100;
        transform: translate(-25%, -50%);
        background-color: white;
        width: 50px;
        height: 50px;
        display: grid;
        place-items: center;
        border-radius: 50%;
        text-decoration: none;
        color: $color-pink;
        box-shadow: 0px 0px 12px .5px rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }
    a i {
        pointer-events: none;
    }

    &--background-terquase {
        @include slider-background($color-torquase, 0%);
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    } 

    &--background-pink {
        @include slider-background($color-pink, 33.333%);

    } 

    &--background-light-blue {
        @include slider-background($color-light-blue, 66.666%);
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    } 

}
