.loader {
            
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    place-items: center;
    background-color: rgba(239, 239, 239, 0.7);

    &__img {
        width: 250px;
    }

    &__loader-attribute {
        &:visited,
        &:link {
            color: #0056B3;
            font-size: 2rem;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            text-align: center;
            margin-bottom: 10px;
        }
        &:focus,
        &:hover {
            color: darken($color: #0056B3, $amount: 10);
        }
    }
}



